/* Remove the default margin and padding from the body. */
body {
    
    padding: 0px;
    margin: 0px;
  }
  
  /* Set map, body, and html to 100% of the screen size. */
  #map,
  body,
  html {
    height: 100%;
    width: 100vw;
  }
  